@import "@/styles/utils";
@import "@/styles/variables";

.base {
  padding: 24px 24px 12px;
}

.table {
  width: calc(100% + 24px);
  margin: 20px -12px 0;

  td {
    padding: 12px;

    &:nth-child(2),
    &:nth-child(3) {
      width: 144px;
      text-align: right;
    }

    &:last-child {
      width: 48px;
      padding: 12px;
    }

    &:first-child {
      padding-left: 12px;
    }
  }
}

.body .row {
    position: relative;
    transform: translate(0);
    clip-path: inset(0);
    transition: background 0.2s;

    &:hover {
        td {
            background: rgba(61, 55, 79, 0.18);
            transition: background .2s;

            &:nth-of-type(1) {
                border-radius: 14px 0 0 14px;
            }

            &:nth-last-of-type(1) {
                border-radius: 0 14px 14px 0;
            }
        }
    }
}

.link {
  position: absolute;
  z-index: 1;
  inset: 0;
  text-decoration: none;
}
