@import "@/styles/utils";
@import "@/styles/variables";

.base {
	padding: 24px 24px 12px;
	position: relative;

	@include breakpoint-max("xga") {
		order: -5;
		padding: 16px 16px 0;
	}

	&:before {
		content: "";
		z-index: 3;
		top: 115px;
		bottom: 12px;
		right: 0;
		width: 50px;
		position: absolute;
		background: linear-gradient(270deg, #111116 0%, rgba(17, 17, 22, 0) 91.67%);

		@include breakpoint-max("xga") {
			display: none;
		}
	}
}

.progress {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 4px;

	@include breakpoint-min("xga") {
		gap: 8px;
	}

	svg {
		transform: translateY(-1px);

		@include breakpoint-min("xga") {
			order: -1;
		}
	}
}

.title {
	margin: 0 0 16px;
}

.options {
	display: flex;
	flex-wrap: wrap;
	gap: 6px;
	margin: 0 0 16px;
}

.optionsItem {
	padding: 0 12px;
}

.head {
	@include breakpoint-max("xga") {
		display: none;
	}
}

.scroller {
	padding: 0 48px 12px 0;
	margin: 0 -24px 0 0;
	overflow: auto hidden;

	@include breakpoint-max("xga") {
		overflow: initial;
		padding: 0;
		margin: 0;
	}

	&::-webkit-scrollbar {
		height: 6px;

		@include breakpoint-max("xga") {
			display: none;
		}

		&-track {
			background-color: transparent;
		}

		&-thumb {
			background: $bg-ui;
			border-radius: 18px;
		}
	}
}

.row {
	@include breakpoint-max("xga") {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		max-width: calc(100% + 32px);
		margin: 0 -16px;
		position: relative;
		border-bottom: 1px solid $stroke-grey;
		padding-bottom: 4px;

		&:last-child {
			border-bottom: none;
		}

		&:after {
			content: "";
			position: absolute;
			bottom: 16px;
			right: 0;
			height: 42px;
			width: 48px;
			z-index: 3;
			background: linear-gradient(270deg, #111116 0%, rgba(17, 17, 22, 0) 91.67%);
		}
	}
}

.table {
	min-width: 860px;
	width: 100%;
	margin: 0 -12px;

	@include breakpoint-max("xga") {
		min-width: initial;
		margin: 0;
		max-width: 100%;
		display: block;

		tbody {
			display: block;
		}
	}

	td {
		padding: 12px;

		&:not(:first-child):not(:last-child) {
			text-align: right;
		}

		&:last-child {
			text-align: center;

			@include breakpoint-max("xga") {
				order: -1;
				margin-left: auto;
			}
		}

		&:first-child {
			@include breakpoint-max("xga") {
				order: -2;
				width: calc(100% - 48px);
			}
		}

		&:nth-child(3) {
			color: $text-secondary;

			@include breakpoint-max("xga") {
				color: $text-white;
			}
		}
	}
}

.wrapper {
	@include breakpoint-max("xga") {
		max-width: 100%;
		overflow: auto hidden;
		display: flex;
		padding: 0 4px;

		* {
			text-align: left !important;
		}

		> td {
			&:nth-child(1) {
				order: -10;
			}

			&:nth-child(2) {
				order: -9;
				color: $text-secondary;
			}

			&:nth-child(3) {
				order: -8;
			}

			&:nth-child(4) {
				order: -7;
			}
		}

		&::-webkit-scrollbar {
			display: none;
		}
	}
}
