@import "@/styles/utils";
@import "@/styles/variables";

.base {
  position: sticky;
  top: 0;
  z-index: 1111;
  padding: 17px 0;
  background: rgba(#0f0e11, 0.9);

  @include breakpoint-max("xga") {
    padding: 16px 0;
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 1px;
    width: 1440px;
    max-width: 100%;
    transform: translateX(-50%);
    background: linear-gradient(
      90deg,
      rgba(37, 32, 48, 0) 0%,
      #252030 49.98%,
      rgba(37, 32, 48, 0) 100%
    );
    pointer-events: none;

    @include breakpoint-max("tablet") {
      width: 540px;
    }
  }
}

.container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  gap: 24px;
  min-height: 20px;
  position: relative;
  border-left: 1px solid $stroke-main;
  padding-left: 32px;
  margin-left: 40px;

  @include breakpoint-max("xga") {
    flex-direction: column;
    align-items: flex-start;
    margin: auto 0;
    padding: 0 12px;
    gap: 28px;
    border: none;
  }
}

.link {
  color: $text-secondary;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: color 0.2s;

  @include breakpoint-max("xga") {
    gap: 10px;

    svg {
      width: 24px;
      height: 24px;
    }
  }

  > p {
    margin: 2px 0 0;

    @include breakpoint-max("xga") {
      font-size: toRem(24px);
      font-weight: 600;
    }
  }

  .link.disabled {
  color: rgba(255, 255, 255, 0.3); // lighter, grayed-out color
  pointer-events: none; // disables clicking
  cursor: not-allowed;

  @include hover {
    color: rgba(255, 255, 255, 0.3); // prevent hover from changing color
  }
}

  &.isActive {
    color: $text-white;
  }

  @include hover {
    color: $text-white;
  }
}

.manage {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin-left: auto;
  padding-left: 40px;

  @include breakpoint-max("xga") {
    padding-left: 12px;
    gap: 8px;
  }
}

.wallet,
.balance {
  position: relative;

  .balancePopup,
  .walletPopup {
    position: absolute;
    top: calc(100% + 4px);
    right: 0;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;

    &.open {
      pointer-events: all;
      animation: showPopup 0.3s ease-in-out forwards 1;
    }
  }
}

@keyframes showPopup {
  from {
    opacity: 0;
    transform: translateY(-5%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.wallet .walletButton {
  padding: 0 16px;
}

.balance .balanceButton {
  padding: 0 12px 0 5px;
}

.menu {
  position: fixed;
  inset: 0;
  z-index: 1110;
  background: $bg-main;
  padding: 90px 0;
  display: flex;
  flex-direction: column;
  overflow: hidden auto;
  display: flex;
  flex-direction: column;
}

.menuContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.base .button {
  width: 34px;
  border-radius: 50%;
  flex-shrink: 0;
  position: relative;
}

.notification {
  position: absolute;
  left: 25px;
  bottom: 25px;
  width: 12px;
  height: 12px;
  border: 3px solid $bg-main;
  background: $ui-green;
  border-radius: 50%;
}

.base .status {
  padding: 0 30px 0 20px;
  white-space: nowrap;
  flex-shrink: 0;
  color: var(--status-color);
  position: relative;
  margin: 0;
  align-self: center;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  transition: color 0.2s;

  &.blue {
    --status-color: #4ff5ff;

    @include hover {
      color: #35ccd5;
    }
  }

  &.purple {
    --status-color: rgba(180, 144, 255, 1);

    @include hover {
      color: #9273d4;
    }
  }

  &.green {
    --status-color: rgba(131, 255, 180, 1);

    @include hover {
      color: #65d491;
    }
  }

  @include breakpoint-max("xga") {
    padding: 0 8px 0 16px;
    font-size: 12px;
  }

  &:before,
  &:after {
    content: "";
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(calc(-50% - 1px));
    background: var(--status-color);
    border-radius: 50%;
  }

  &:before {
    opacity: 0.2;
    width: 14px;
    height: 14px;
    left: 0;
    animation: statusPulsing 1s ease-in-out infinite;
  }

  &:after {
    content: "";
    width: 6px;
    height: 6px;
    left: 4px;
  }
}

@keyframes statusPulsing {
  0% {
    opacity: 0.5;
    transform: translate(0, calc(-50% - 1px)) scale(0);
  }
  100% {
    opacity: 0;
    transform: translate(0, calc(-50% - 1px)) scale(1.4);
  }
}

.base .networkSelect {
  > div {
    left: -24px;
  }
  > button {
    min-width: 54px;

    > p {
      font-size: 0;
    }
  }
}

.logotype {
  @include breakpoint-max("xga") {
    width: 82px;
    height: 26px;
  }
}

.statusContainer {
  align-self: center;
  position: relative;
}

.statusDropdown {
  position: absolute;
  z-index: 1000;
  top: calc(100% + 8px);
  left: calc(50% - 90px);
  box-shadow: 4px 6px 24px 0px rgba(16, 15, 21, 0.2);
  background: $ui-tooltip;
  border-radius: 12px;
  padding: 8px;

  &:after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 1px;
    background: linear-gradient(136deg, #2a2732 -0%, rgba(42, 39, 50, 0) 47%);
    mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
  }
}

.statusItem {
  width: 100%;
  padding: 8px 28px 8px 8px;
  border: none;
  background: transparent;
  text-align: left;
  cursor: pointer;
  border-radius: 8px;
  position: relative;
  min-width: 164px;
  transition: background 0.2s;

  + .statusItem {
    margin: 2px 0 0;
  }

  &.isActive {
    background: rgba(61, 55, 79, 0.18);
  }

  @include hover {
    background: rgba(61, 55, 79, 0.18);
  }
}

.check {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  color: $ui-purpure;
}

.text {
  margin: 0;
  color: $text-white;
}
