@import "@/styles/utils";
@import "@/styles/variables";

.base {
  position: relative;
  padding: 24px;

  @include breakpoint-max("xga") {
    padding: 16px;
  }
}

.head {
  display: flex;
  align-items: center;
  gap: 16px;

  @include breakpoint-max("xga") {
    gap: 12px;
  }
}

.title {
  margin: 0;
  white-space: nowrap;
}

.custom {
  flex-grow: 1;
}

.toggle {
  margin-left: auto;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  color: $text-secondary;
  transition: color 0.2s;

  @include hover {
    color: $text-white;
  }

  svg {
    margin: -2px 0 0;
  }
}

.content {
  display: block;
}
