@import "@/styles/utils";
@import "@/styles/variables";

.title {
  margin: 0 0 16px;
  color: $text-white;

  @include breakpoint-max("tablet") {
    margin-bottom: 12px;
    font-size: toRem(18px);
  }
}

.text {
  margin: 0 0 32px;
  line-height: 140%;
  color: $text-secondary;

  @include breakpoint-max("tablet") {
    margin-bottom: 24px;
  }
}

.label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  margin: 0 0 10px;
}

.token,
.balance {
  margin: 0;
}

.token {
  display: flex;
  align-items: center;
  gap: 6px;

  svg {
    flex-shrink: 0;
  }
}

.balance {
  color: $text-secondary;

  span {
    color: $text-white;
  }
}

.input {
  margin-bottom: 32px;
}

.slider {
  margin-bottom: 24px;
}

.head {
  display: flex;
  justify-content: space-between;
  color: $text-secondary;
  margin: 0 0 8px;
}

.headItem span {
  color: $text-white;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  align-items: center;
  color: $text-secondary;
  margin: 0;

  &:last-of-type {
    margin-bottom: 24px;
  }

  + .row {
    margin-top: 12px;
  }

  span {
    text-align: right;
    color: $text-white;
  }
}

.button {
  width: 100%;
  margin-top: auto;
}

.range {
  --thumb-height: 14px;
  --track-height: 4px;
  --track-color: #2a2636;
  --clip-edges: 1px;

  position: relative;
  background: transparent;
  overflow: hidden;
  color: #b5a8d3;
  width: 100%;

  -webkit-appearance: none;
  appearance: none;
  transition: all ease 100ms;
  height: var(--thumb-height);

  &:active {
    cursor: grabbing;
  }

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }

  &::-webkit-slider-runnable-track,
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    transition: all ease 100ms;
    height: var(--thumb-height);
    position: relative;
  }

  &::-webkit-slider-thumb {
    --thumb-radius: calc((var(--thumb-height) * 0.5) - 1px);
    --clip-top: calc((var(--thumb-height) - var(--track-height)) * 0.5 - 0.5px);
    --clip-bottom: calc(var(--thumb-height) - var(--clip-top));
    --clip-further: calc(100% + 1px);
    --box-fill: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0
      100vmax currentColor;

    width: var(--thumb-width, var(--thumb-height));
    background: linear-gradient(currentColor 0 0) scroll no-repeat left center /
      50% calc(var(--track-height) + 1px);
    background-color: currentColor;
    box-shadow: var(--box-fill);
    border-radius: var(--thumb-width, var(--thumb-height));
    filter: brightness(100%);
    clip-path: polygon(
      100% -1px,
      var(--clip-edges) -1px,
      0 var(--clip-top),
      -100vmax var(--clip-top),
      -100vmax var(--clip-bottom),
      0 var(--clip-bottom),
      var(--clip-edges) 100%,
      var(--clip-further) var(--clip-further)
    );
  }

  &:hover::-webkit-slider-thumb {
    cursor: grab;
  }

  &:active::-webkit-slider-thumb {
    cursor: grabbing;
  }

  &::-webkit-slider-runnable-track {
    background: linear-gradient(var(--track-color) 0 0) scroll no-repeat center /
      100% calc(var(--track-height) + 1px);
  }

  &:disabled::-webkit-slider-thumb {
    cursor: not-allowed;
  }

  &::-moz-range-track,
  &::-moz-range-thumb {
    appearance: none;
    transition: all ease 100ms;
    height: var(--thumb-height);
  }

  &::-moz-range-track,
  &::-moz-range-thumb,
  &::-moz-range-progress {
    background: #fff0;
  }

  &::-moz-range-thumb {
    background: currentColor;
    border: 0;
    width: var(--thumb-width, var(--thumb-height));
    border-radius: var(--thumb-width, var(--thumb-height));
    cursor: grab;
  }

  &:active::-moz-range-thumb {
    cursor: grabbing;
  }

  &::-moz-range-track {
    width: 100%;
    background: var(--track-color);
  }

  &::-moz-range-progress {
    appearance: none;
    background: currentColor;
    transition-delay: 30ms;
  }

  &::-moz-range-track,
  &::-moz-range-progress {
    height: calc(var(--track-height) + 1px);
    border-radius: var(--track-height);
  }

  &::-moz-range-thumb,
  &::-moz-range-progress {
    filter: brightness(100%);
  }

  &:disabled::-moz-range-thumb {
    cursor: not-allowed;
  }
}
