$bg-main: var(--color-background-main);
$bg-secondary: var(--color-background-secondary);
$bg-ui: var(--color-background-ui);
$text-black: var(--color-text-black);
$text-inactive: var(--color-text-inactive);
$text-secondary: var(--color-text-secondary);
$text-white: var(--color-text-white);
$text-bright: var(--color-text-bright);
$ui-purpure: var(--color-ui-purpure);
$ui-secondary: var(--color-ui-secondary);
$ui-green: var(--color-ui-green);
$ui-white: var(--color-ui-white);
$ui-tooltip: var(--color-ui-tooltip);
$ui-loading: var(--color-ui-loading);
$stroke-main: var(--color-stroke-main);
$stroke-secondary: var(--color-stroke-secondary);
$stroke-gradient: var(--color-stroke-gradient);
$stroke-grey: var(--color-stroke-grey);
$success: var(--color-success);
$danger: var(--color-danger);
