@import "@/styles/utils";
@import "@/styles/variables";

.base {
  padding: 36px 0 80px;

  @include breakpoint-max("xga") {
    padding: 32px 0 60px;
  }

  @include breakpoint-max("tablet") {
    padding-top: 16px;
  }
}

.leverage {
  padding: 24px 8px;
}

.leverageContainer {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: 66% calc(34% - 20px);
  gap: 20px;
  margin: 20px 0 0;
}

.col {
  display: grid;
  grid-template-columns: 100%;
  gap: 20px;
  align-content: flex-start;
}

.back {
  color: $text-secondary;
  text-decoration: none;
  transition: color 0.2s;

  @include hover {
    color: $text-white;
  }

  svg {
    flex-shrink: 0;
    transform: scale(-1, 1);
  }

  p {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 4px;
  }
}
