@import "@/styles/utils";
@import "@/styles/variables";

.base {
  padding: 24px;

  @include breakpoint-max("tablet") {
    padding: 20px 16px;
  }
}

.base .title {
  margin: 0 0 24px;

  @include breakpoint-max("tablet") {
    margin-bottom: 16px;
    font-size: toRem(18px);
  }
}

.box {
  margin: 0 0 24px;
  border-radius: 12px;
  border: 1px dashed $stroke-main;
  padding: 24px;
  min-height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  text-align: center;

  @include breakpoint-max("tablet") {
    padding: 40px 16px;
  }
}

.text {
  margin: 0;
  max-width: 260px;
  color: $text-secondary;
  line-height: 140%;
}

.sign {
  padding: 0 20px 0 24px;
  gap: 10px;
}

.wallet {
  background: $bg-main;
  border-radius: 50px;
  position: relative;
  color: $text-white;
  padding: 0 16px;

  @include breakpoint-max("tablet") {
    padding: 0 11px;
  }

  p {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
    height: 38px;

    @include breakpoint-max("tablet") {
      font-size: toRem(11px);
      gap: 6px;
      height: 32px;
    }
  }

  svg {
    color: $ui-purpure;
    flex-shrink: 0;
  }

  &:after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 1px;
    mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
    background:
      linear-gradient(transparent, transparent),
      linear-gradient(136deg, #2a2732 -0.84%, rgba(42, 39, 50, 0) 47.36%);
    transition: opacity 0.2s;
  }
}

.buttons {
  display: grid;
  grid-template-columns: 100%;
  gap: 10px;
}

.button {
  width: 100%;
  padding: 0 16px;
}
