@import "@/styles/utils";
@import "@/styles/variables";

.base {
  display: grid;
  grid-template-columns: 100%;
  align-content: flex-start;
  gap: 20px;

  @include breakpoint-max("tablet") {
    thead {
      display: none;
    }
  }
}

.empty {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  padding: 52px 24px 61px;

  @include breakpoint-max("xga") {
    padding: 40px 16px 50px;
  }
}

.emptyTitle {
  text-align: center;
  color: $text-white;
  margin: 0;
}

.table {
  width: calc(100% + 24px);
  margin: 20px -12px 0;

  @include breakpoint-max("tablet") {
    margin: 0 -16px -16px;
    width: calc(100% + 32px);

    tr {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 20px 40px;
      padding: 16px;

      &:not(:last-child) {
        border-bottom: 1px solid $stroke-grey;
      }
    }
  }

  td {
    padding: 12px;

    @include breakpoint-max("tablet") {
      display: flex;
      flex-direction: column;
      padding: 0;

      &:nth-child(1) {
        width: calc(100% - 40px - 80px);
        order: -5;
      }

      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        width: calc((100% / 3) - (40px * 2 / 3));
      }

      &:nth-child(2) {
        text-align: left;
        align-items: flex-start;
      }

      &:nth-child(3) {
        text-align: center;
        align-items: center;

        > *,
        > * > p {
          justify-content: center;
        }
      }

      &:nth-child(4) {
        text-align: right;
        align-items: flex-end;
      }

      &:last-child {
        padding: 0;
        width: 80px;
        order: -4;
      }
    }

    @include breakpoint-min("tablet") {
      &:nth-child(2),
      &:nth-child(3) {
        text-align: right;
      }

      &:nth-child(4) {
        text-align: center;
      }

      &:last-child {
        width: 104px;
        padding: 12px;
      }

      &:first-child {
        padding-left: 12px;
      }
    }
  }
}

.check {
  color: $success;
}

.switcher {
  position: relative;
  z-index: 2;

  &.skeleton {
    width: 40px;
    height: 20px;
    border-radius: 44px;
  }
}

.body .row {
  position: relative;
  transform: translate(0);
  clip-path: inset(0);

  td {
    transition: background 0.2s;

    &:nth-of-type(1) {
      border-radius: 14px 0 0 14px;
    }

    &:last-child {
      border-radius: 0 14px 14px 0;
    }
  }

  @include hover {
    td {
      background: rgba(61, 55, 79, 0.18);

      @include breakpoint-max("tablet") {
        background: transparent;
      }
    }
  }
}

.button {
  width: 80px;
  border-radius: 50px;
  height: 29px;
}

.manage {
  display: flex;
  align-items: center;
  margin: 16px 0 -5px;
  gap: 10px;
  user-select: none;
  color: $text-secondary;

  > p {
    margin: 0;
  }
}

.checkbox {
  width: 16px;
  height: 16px;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 4px;
  border: 1px solid $text-secondary;
  background: transparent;
  cursor: pointer;

  &:checked {
    border: none;
    background: $ui-purpure
      url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.8979 3.77299L4.89795 9.77299C4.84569 9.82543 4.78359 9.86704 4.71522 9.89543C4.64685 9.92382 4.57354 9.93843 4.49951 9.93843C4.42548 9.93843 4.35217 9.92382 4.2838 9.89543C4.21543 9.86704 4.15333 9.82543 4.10107 9.77299L1.47607 7.14799C1.42375 7.09566 1.38224 7.03355 1.35393 6.96518C1.32561 6.89682 1.31104 6.82355 1.31104 6.74955C1.31104 6.67555 1.32561 6.60228 1.35393 6.53392C1.38224 6.46555 1.42375 6.40344 1.47607 6.35111C1.5284 6.29879 1.59051 6.25728 1.65888 6.22897C1.72724 6.20065 1.80051 6.18607 1.87451 6.18607C1.94851 6.18607 2.02178 6.20065 2.09014 6.22897C2.15851 6.25728 2.22062 6.29879 2.27295 6.35111L4.49998 8.57814L10.102 2.97705C10.2077 2.87138 10.351 2.81201 10.5004 2.81201C10.6499 2.81201 10.7932 2.87138 10.8989 2.97705C11.0046 3.08272 11.0639 3.22604 11.0639 3.37549C11.0639 3.52493 11.0046 3.66825 10.8989 3.77393L10.8979 3.77299Z' fill='white'/%3E%3C/svg%3E%0A")
      center / 12px auto no-repeat;
  }
}
