@import "@/styles/utils";
@import "@/styles/variables";

.base {
    border-spacing: 0;
}

.head {
    .item {
        font-size: toRem(12px);
        font-weight: 500;
        color: $text-secondary;
        padding-bottom: 10px;
    }
}

.box {
    display: grid;
    grid-template-columns: 100%;
    align-content: flex-start;
    align-items: flex-start;
    gap: 2px;
}

.boxRow {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    margin: 0;

    &.small {
        margin: 6px 0 0;
        color: $text-secondary;
    }

    &.default {
        color: $text-white;
    }
}

.reward {
    padding: 0 6px;
    border-radius: 44px;

    > p {
        gap: 3px;
        margin: 0;
        padding: 1px 0 0;
    }
}

.asset {
    display: grid;
    gap: 8px;
    align-items: center;
    grid-template-columns: 40px calc(100% - 40px - 8px);
}

.assetContent {
    display: grid;
    grid-template-columns: 100%;
    gap: 6px;
    align-items: center;
    
    > p {
        margin: 0;
        
        &:nth-child(1) {
            color: $text-white;
        }

        &:nth-child(2) {
            color: $text-secondary;
        }
    }
}

.skeleton {
    border-radius: 4px;
}

.box .skeleton {
    margin-left: auto;

    &:nth-child(1) {
        width: 50px;
        height: 16px;
    }

    &:nth-child(2) {
        width: 70px;
        height: 12px;
        margin: 2px 0 0 auto;
    }
}

.next {
    color: $ui-secondary;
    width: 24px;
    height: 24px;
}


.asset .skeleton {
    &:nth-child(1) {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    &:nth-child(2) {
        width: 100%;
        max-width: 60px;
        height: 16px;
    }
}