@import "@/styles/utils";
@import "@/styles/variables";

.base {
  align-self: center;
  position: relative;
}

.trigger {
  p {
    margin: 0;
    display: flex;
    align-items: center;

    @include breakpoint-max("tablet") {
      font-size: 12px;
    }

    span {
      color: $text-secondary;
      margin-right: 4px;
    }

    svg {
      margin-left: 2px;
      transform: rotate(90deg);
      transition: transform 0.2s;

      @include breakpoint-max("tablet") {
        width: 14px;
        height: 14px;
        margin: -1px 0 0 2px;
      }
    }
  }

  &.open svg {
    transform: rotate(90deg) scale(-1, 1);
  }
}

.dropdown {
  position: absolute;
  z-index: 1000;
  left: 0;
  top: calc(100% + 8px);
  box-shadow: 4px 6px 24px 0px rgba(16, 15, 21, 0.2);
  background: $ui-tooltip;
  border-radius: 12px;
  padding: 8px;

  &:after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 1px;
    background: linear-gradient(136deg, #2a2732 -0%, rgba(42, 39, 50, 0) 47%);
    mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
  }
}

.item {
  width: 100%;
  padding: 8px 28px 8px 8px;
  border: none;
  background: transparent;
  text-align: left;
  cursor: pointer;
  border-radius: 8px;
  position: relative;
  min-width: 164px;
  transition: background 0.2s;

  + .item {
    margin: 2px 0 0;
  }

  &.isActive {
    background: rgba(61, 55, 79, 0.18);
  }

  @include hover {
    background: rgba(61, 55, 79, 0.18);
  }
}

.check {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  color: $ui-purpure;
}

.text {
  margin: 0;
  color: $text-white;
}
