@import "@/styles/utils";
@import "@/styles/variables";

.base {
  padding: 80px 0;

  @include breakpoint-max("xga") {
    padding: 32px 0 60px;
  }
}

.base .container {
  width: 480px;
}

.base .title {
  margin: 0 0 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 37px;

  @include breakpoint-max("tablet") {
    margin-bottom: 24px;
    font-size: toRem(24px);
  }
}

.grid {
  display: grid;
  grid-template-columns: 100%;
  gap: 24px;
  align-content: flex-start;

  @include breakpoint-max("tablet") {
    gap: 16px;
  }
}

.more {
  padding: 0 12px 0 16px;
  gap: 4px;

  @include breakpoint-max("tablet") {
    white-space: nowrap;
  }

  p {
    margin: 0;
  }

  svg {
    flex-shrink: 0;
  }
}
