@import "@/styles/utils";
@import "@/styles/variables";

.content {
  padding: 24px 24px 120px;
  position: relative;

  @include breakpoint-max("tablet") {
    padding-top: 36px;
  }
}

.content .wallet {
  background: none;
  padding: 0;
  position: static;
  width: 100%;

  > * {
    position: static;
  }

  &:after {
    display: none;
  }
}

.content .balance {
  width: 100%;
  background: rgba(61, 55, 79, 0.18);
}

.wallet .buttons {
  position: absolute;
  left: 24px;
  right: 24px;
  bottom: 24px;
}
