@import "@/styles/utils";
@import "@/styles/variables";

.base {
  width: 100%;

  td {
    padding: 12px;

    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5) {
      width: 124px;
      text-align: right;

      .skeleton {
        width: 80px;
      }
    }

    &:last-child {
      width: 88px;
      padding: 12px 0 12px 12px;
    }

    &:first-child {
      padding-left: 0;
    }
  }
}

.text {
  margin: 0;
}

.skeleton {
  border-radius: 4px;
}

.table .skeleton {
  width: 50px;
  height: 16px;
}

.button {
  width: 100%;
  padding: 1px 0 0;

  &.skeleton {
    width: 76px;
    height: 34px;
    border-radius: 50px;
  }
}
