@import "@/styles/utils";
@import "@/styles/variables";

.base {
  padding: 18px 24px 4px;

  @include breakpoint-max("xga") {
    order: -9;
    padding: 16px 16px 3px;
  }
}

.balance {
  padding-right: 60px;
  position: relative;
  min-height: 48px;
  margin: 0 0 16px;
}

.balanceIcon {
  position: absolute;
  right: 0;
  top: 0;
  width: 48px;
  height: 48px;
  background: rgba(87, 73, 130, 0.18);
  border-radius: 12px;
  color: $text-secondary;
  display: flex;
  align-items: center;
  justify-content: center;
}

.balanceTitle {
  margin: 0 0 12px;
  color: $text-secondary;
}

.balanceText {
  margin: 0;

  span {
    color: $text-secondary;
  }
}

.info {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 2px));
  gap: 4px;
  margin: 0 -20px;

  @include breakpoint-max("xga") {
    margin: 0 -13px;
  }
}

.box {
  position: relative;
  padding: 16px 20px;
  background: rgba(61, 55, 79, 0.18);
  border-radius: 16px;

  @include breakpoint-max("xga") {
    padding: 16px 13px;
  }
}

.boxTitle {
  margin: 0;
  color: $text-secondary;
}

.box .boxText {
  margin: 18px 0 0;

  @include breakpoint-max("xga") {
    font-size: 16px;
    margin: 16px 0 0;
  }

  span {
    color: $text-secondary;
  }
}

.boxNote {
  margin: 8px 0 0;
  color: $text-secondary;
}
