@import "@/styles/utils";
@import "@/styles/variables";

.base {
  position: relative;
  z-index: 1;
  display: inline-block;
}

.base > .skeleton {
  position: absolute;
  inset: 0;
  border-radius: inherit;

  &:after {
    background-image: linear-gradient(
      90deg,
      var(--highlight-color),
      var(--base-color),
      var(--highlight-color)
    );
  }
}
