@import "@/styles/utils";
@import "@/styles/variables";

.base {
	position: relative;
	margin: 40px 0 0;
	height: 360px;
	overflow: hidden;

	@include breakpoint-max("xga") {
		height: 300px;
	}
}

.container {
	position: absolute;
	inset: 0;
}

.tooltip {
	padding: 12px;
	width: 250px;
	background: $ui-tooltip;
	border-radius: 12px;
}

.head {
	color: $text-secondary;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 8px;
	margin-bottom: 16px;
}

.tvl {
	padding: 4px 6px 2px;
	border-radius: 4px;
	border: 1px solid #342b4a;
	background: $bg-ui;
	color: $text-secondary;
}

.row {
	margin: 10px 0 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: $text-white;
	gap: 12px;

	span {
		margin-left: auto;
		white-space: nowrap;

		&.purple {
			color: $ui-purpure;
		}

		&.green {
			color: $ui-green;
		}
	}
}
