@import "@/styles/utils";
@import "@/styles/variables";

.base {
  position: relative;
  display: flex;
}

.base .trigger {
  width: 100%;
  border-radius: 18px;
  text-align: left;
  display: grid;
}

.block {
  > p {
    margin: 0;

    &:nth-child(1) {
      color: $text-white;
    }

    &:nth-child(2) {
      color: $text-secondary;
    }

    + p {
      margin: 6px 0 0;
    }
  }
}

.icon {
  flex-shrink: 0;
}

.arrow {
  transform: rotate(90deg);
  color: $text-secondary;
  transition: transform 0.2s;

  &.isInverted {
    transform: rotate(90deg) scale(-1, 1);
  }
}

.dropdown {
  position: absolute;
  z-index: 1000;
  left: 0;
  right: 0;
  top: calc(100% + 4px);
  box-shadow: 4px 6px 24px 0px rgba(16, 15, 21, 0.2);
  background: $ui-tooltip;
  border-radius: 12px;
  padding: 8px;
  max-height: 275px;
  overflow: hidden auto;

  &::-webkit-scrollbar {
    display: none;
  }

  &:after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 1px;
    background: linear-gradient(136deg, #2a2732 -0%, rgba(42, 39, 50, 0) 47%);
    mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
  }
}

.base .item {
  width: 100%;
  padding: 8px;
  border: none;
  background: transparent;
  text-align: left;
  cursor: pointer;
  border-radius: 8px;
  position: relative;
  transition: background 0.2s;
  display: grid;
  align-items: center;
  gap: 6px;
  grid-template-columns: 33px 1fr;

  + .item {
    margin: 2px 0 0;
  }

  &.isActive {
    background: rgba(61, 55, 79, 0.18);
  }

  @include hover {
    background: rgba(61, 55, 79, 0.18);
  }
}

.base.gradient {
  .trigger {
    padding: 0 24px;
    grid-template-columns: 40px 1fr 24px;
    gap: 6px;
    height: 79px;
  }
}

.base.default {
  .trigger {
    padding: 0 16px;
    grid-template-columns: 33px 1fr 24px;
    gap: 7px;
    height: 60px;
    background: $bg-main;

    @include hover {
      background: #1b1823;
    }
  }
}
